.ant-page-header {
  padding: 0 !important;
}

.ant-page-header-heading-title {
  font-size: 22px !important;
  font-weight: 300 !important;
}

.ant-form-item {
  margin-bottom: 8px !important;
}

.ant-form-vertical .ant-form-item-label {
  margin: 0 !important;
  padding: 0 0 4px !important;
}

.ant-menu.ant-menu-inline-collapsed .ant-menu-item {
  padding: 0 16px !important;
}

.ant-drawer-body {
  padding: 10px 24px 24px 24px !important; 
}

.ant-form-item-control {
  padding-left: 0px !important;
  padding-right: 0px !important;
}