//Colors
$color-primary: #128c7e;
$color-primary-light: #149d8d;
$color-white: #ffffff;
$color-placeholder: #9d9d9d;

//Sizes
$font-size-default: 14px;
$button-height: 40px;
$radius-button: 5px;
$button-font-size: 16px;
