//Colors
$color-primary: #585CA6;
$color-primary-light: #5F6BB0;
$color-white: #ffffff;
$color-placeholder: #9d9d9d;

//Sizes
$font-size-default: 14px;
$button-height: 40px;
$radius-button: 5px;
$button-font-size: 16px;
